@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
}

/* ===== GENERAL ===== */

html {
    margin-top: -5em;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    list-style: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.hidden {
    display: none !important;
}

.main-content {
    margin-left: 20em;
}

.aside {
    width: 270px;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    padding: 30px;
    top: 0;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;

}

ul {
    list-style: none;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 50px;

}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: 3px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}


.aside .nav-toggler span::before {
    content: '';
    height: 3px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 3px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;

}

.aside .nav li a {
    font-size: 26px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

/* ===== PUBLICACIÓN ===== */
.contenedor {
    margin-top: 259px;
}

.post {
    width: 90%;
    margin-bottom: 125px;
    max-width: 80rem;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    align-items: center;
    border-radius: 2rem;
}

.img {
    height: 30rem;
    transform: translateX(-2rem);
    position: relative;
}

.img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
    box-shadow: 10px 10px 30px #b8b5a7, -20px -20px 60px #fff;
}

.titulo {
    font-size: 2.5rem;
    margin: 2rem 0 2rem;
    text-transform: uppercase;
    color: #ec1839;
}

.fecha {
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0 1rem;
}

.descripcion {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.btn {
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #4facfe;
    color: #ecf0f1;
    float: right;
    display: block;
    padding: 12px;
}

.btn:hover {
    background-color: #2592f1;
}

/* ===== RESPONSIVE ===== */

@media screen and (max-width: 1068px) {
    .post {
        max-width: 60rem;
    }

    .img {
        min-width: 40rem;
        max-width: 410rem;
    }
}

@media screen and (max-width: 868px) {
    .post {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .post {
        padding: 2.5rem;
        flex-direction: column;
    }

    .img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -1rem);
    }
}