@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body {
    margin: 0;
    padding: 0;
    list-style: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hidden {
    display: none !important;
}


.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.10);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.22);
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.rowContact {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.rowConten {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

/*aside*/

.aside {
    width: 270px;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    padding: 30px;
    top: 0;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: 3px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}


.aside .nav-toggler span::before {
    content: '';
    height: 3px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 3px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav {
    margin-top: 50px;

}

.aside .nav li {
    margin-bottom: 20px;
    display: block;

}

.aside .nav li a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

/*Casa*/

.casa {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

h3.hola {
    font-size: 28px;
    max-width: 60%;
}

h3.hola span {
    font-family: 'Clicker Script';
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profecion {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-infor p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.casa .home-infor {
    flex: 0 0 10%;
    max-width: 60%;
}

.casa .casa-img {
    flex: 0 0 90%;
    max-width: 20%;
    text-align: center;
    position: 20px absolute;
}

/**/

/* ----- banner ----- */
.art-banner-back {
    content: '';
    position: absolute;
    z-index: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    margin-left: 5%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(30, 30, 40, 0.88);
}

.art-banner {
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 509;
}

.art-banner .art-banner-overlay {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px;
    width: 100%;
}

.art-banner .art-banner-overlay .art-banner-title {
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
}

.art-banner .art-banner-overlay .art-banner-title h1 {
    color: #000000;
}

.art-banner .art-banner-overlay .art-banner-photo {
    width: 390px;
    position: absolute;
    right: 30px;
    bottom: 0;
}

/* ----- typing code ----- */
.art-code {
    font-family: "Courier Prime", monospace;
    color: #000000;
}

.art-code i {
    font-style: normal;
    color: var(--skin-color);
}

/* ----- counters ----- */
.art-card {
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    padding: 30px;
    margin-bottom: 30px;
}

.art-card.art-fluid-card {
    height: calc(100% - 30px);
}

.art-counter-frame .art-counter-box {
    min-width: 60px;
}

.art-counter-frame .art-counter-box .art-counter {
    color: #FFC107;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.art-counter-frame .art-counter-box .art-counter-plus {
    margin-left: 3px;
    color: #FFC107;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

/**/
.casa-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: -120px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    bottom: -10px;

}

.casa-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -20px;
    top: -40px;
}

.casa .casa-img img {
    margin: auto;
    border-radius: 5px;
    height: 200px;
}

/*sobre mi*/
.about .sobre-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .sobre-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .sobre-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .sobre-content .about-text h3 span {
    color: var(--skin-color);
}

.about .sobre-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .sobre-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .sobre-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}

.about .sobre-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .sobre-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-top: 4px;
    display: inline-block;
}

.about .sobre-content .personal-info .buttons {
    margin-top: 30px;
}

.about .sobre-content .personal-info .buttons .btn {
    margin-top: 25px;
    margin-right: 7px;
}

.about .sobre-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .sobre-content .skills .skill-items {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .sobre-content .skills .skill-items h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .sobre-content .skills .skill-items .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .sobre-content .skills .skill-items {
    margin-bottom: 25px;
}

.about .sobre-content .skills .skill-items .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .sobre-content .skills .skill-items .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

/*educacion*/
.educacion,
.experiencia {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .sobre-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .sobre-content .timline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .sobre-content .timline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .sobre-content .timline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .sobre-content .timline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .sobre-content .timline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .sobre-content .timline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .sobre-content .timline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .sobre-content .timline .timeline-date .fa {
    margin-right: 5px;
}

.about .sobre-content .timline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);

}

.about .sobre-content .timline .timeline-text {
    /*height: 25px;*/
    font-size: 16px;
    text-align: justify;
}

/*Servicios*/
.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.25);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.5s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.5s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #fff;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/*Portafolio*/

.portafolio .container {
    padding-bottom: 40px;

}

.portafolio .portafolio-heading {

    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portafolio .portafolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}

.portafolio .portafolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portafolio-item-inner {
    border: 8px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

}

.portafolio .portafolio-item-inner .portafolio-img img {
    width: 100%;
    display: block;
}

/**/
.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.art-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(208 197 197 / 44%);
    padding: 20px;
    border-radius: 20px;
}

.art-grid-item:hover {
    background: rgba(206, 192, 192, 0.906);
}

.art-grid-item img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 25px 0 25px;
}

.art-item-description {
    margin-top: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.titleWork {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.description {
    text-align: left;
    font-size: 14px;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .art-grid {
        grid-template-columns: 1fr;
    }
}


/*cotacto*/

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-infor-item {
    flex: 5%;
    max-width: 35%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-infor-item .icon {
    display: inline-block;
}

.contact .contact-infor-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.cotac h4 {
    font-size: 18px;
    font-weight: 700;
    background-color: black;
    text-transform: capitalize;
    margin: 15px 0 5px;
}


.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    text-transform: capitalize;
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 3px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

art-banner-overlay

/* ----- text defaults ----- */
body {
    color: #8c8c8e;
    font-size: 122px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: 0.235px;
    font-smooth: subpixel-antialiased;
}

/* ----- title defaults ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #fafafc;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 52px;
    font-weight: 800;
}

h4 {
    font-size: 17px;
    font-weight: 600;
}

h5 {
    font-size: 14px;
    font-weight: 600;
}

h6 {
    font-size: 12px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* ------------------------------

button

------------------------------ */
.art-btn {
    text-transform: uppercase;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    color: #f8f8ff;
    background: var(--skin-color);
    letter-spacing: 1.5px;
    border-radius: 22px;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    border: none;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.art-btn span {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.art-btn.art-btn-md {
    height: 45px;
    font-size: 11px;
    padding: 0 35px;
}

.art-btn.art-btn-sm {
    height: 40px;
    font-size: 11px;
    padding: 0 30px;
}

.art-btn:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    color: #1e1e28;
}

/* ------------------------------

space

------------------------------ */
.p-30-0 {
    padding-top: 30px;
    padding-bottom: 0;
}

.p-0-30 {
    padding-top: 0;
    padding-bottom: 30px;
}

.p-30-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-30-15 {
    padding-top: 30px;
    padding-bottom: 15px;
}

.p-15-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-15-0 {
    padding-top: 15px;
    padding-bottom: 0;
}

.p-60-0 {
    padding-top: 60px;
    padding-bottom: 0;
}

.p-230-0 {
    padding-top: 230px;
    padding-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
    font-size: 15px;
    color: #f8f8ff;
}

.descripA {
    color: #ebbeff;
}

.mb-32 {
    margin-bottom: 45px;
    font-size: 17.1px;
}

.mb-25 {
    margin-bottom: 45px;
    font-size: 25px;
}

.mb-30 {
    margin-bottom: 25px;
}

.aa {
    font-size: 25px;
}

/*Portafolio*/

.portafolio .video {
    text-align: center;
    margin-bottom: 20px;
}

.portafolio .video video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.portafolio .texto-descripcion {
    margin-bottom: 40px;
    margin-top: 60px;
}


.portafolio .row {
    display: flex;
    flex-wrap: wrap;
}

.portafolio .columna {
    flex: 0 0 50%;
    max-width: 100%;
    padding: 15px;
}

.contenido {
    padding: 20px;
}

.texto-descripcion .title {
    font-size: 1.9em;
    color: #212020;
}

.texto-descripcion .subtitle {
    font-size: 1.05em;
    color: #007BFF;
}

.texto-descripcion .technologies {
    font-size: 1.65em;
}

.texto-descripcion .technologie {
    font-size: 1.25em;
}

.texto-descripcion .technologies i {
    margin-left: 5px;
}

.texto-descripcion .technologies .html-icon {
    color: #E44D26;
}

.texto-descripcion .technologies .css-icon {
    color: #1572B6;
}

.texto-descripcion .technologies .js-icon {
    color: #F7DF1E;
}



.portafolio .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.portafolio .card img {
    max-width: 100%;
    height: auto;
}

.portafolio .card-content {
    padding: 15px;
}

.portafolio .card h3 {
    margin: 0;
    font-size: 1.25em;
}

.portafolio .card p {
    margin: 10px 0 0;
    color: #777;
}



/**/

@media (max-width:1600px) {


    .aside {
        left: -370px;
    }

    .main-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 24px;

    }

    .aside.open {
        left: 0;
        z-index: 600;
    }
}

@media (max-width:1200px) {

    .aside {
        left: -270px;
    }

    .main-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}


@media (max-width:991px) {



    .contact .contact-info-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-infor {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .aside .nav-toggler {
        display: flex;
        left: 24px;

    }

    .aside.open {
        left: 0;
        z-index: 600;
    }

    .portafolio .columna {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (max-width:767px) {
    .art-grid img {
        border-radius: 28px 0 28px;
    }


    .contact .contact-info-item .col-6,
    .contact .contact-info-item,
    .service .service-item,
    .about .sobre-content .experiencia,
    .about .sobre-content .educacion,
    .about .sobre-content .skills,
    .about .sobre-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portafolio .video video {
        max-width: 100%;
        height: auto;
    }

    .contenido {
        padding: 15px;
    }

    .texto-descripcion .title {
        font-size: 1.4em;
        color: #212020;
    }
    
    .texto-descripcion .subtitle {
        font-size: 0.95em;
        color: #007BFF;
    }
    
    .texto-descripcion .technologies {
        font-size: 0.95em;
    }
    
    .texto-descripcion .technologie {
        font-size: 0.95em;
    }
    
}


@media (max-width: 567px) {
    .contenido {
        padding: 6px;
    }
    .art-grid img {
        padding: 10px;
        width: 325px;
        border-radius: 28px 0 28px;
    }

    .art-grid-item {
        padding: 0px 0px 20px 0px;
    }

    .casa .casa-img,
    .casa-img::before {
        display: none;
    }

    .art-banner-title {
        text-align: center;
    }

    .art-banner-overlay {
        padding: 15px;
    }

    .art-banner-title h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 100px;
    }

    .art-grid .art-grid-item {
        float: none;

    }

    .about .sobre-content .timline .timeline-text {
        /*height: 25px;*/
        font-size: 16px;
        text-align: left;
    }

    .rowConten {
        display: inline;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
    }

    .about .sobre-content .personal-info .info-item {
        max-width: 100%;
    }

    .rowContact {
        display: block;
    }

    .contact .contact-infor-item {

        max-width: 100%;
    }

}